.map-container {
  height: calc(100% - 50px);
  // max-height: 70vh;
  width: 100%;
  overflow: hidden;
}

.leaflet-right.leaflet-bottom .leaflet-control-attribution {
    margin-bottom: 0;
    margin-right: 0;
    font-size: 10px;
}
